.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 40px;
    // border: 1px solid $accent-color;
    background-color: $accent-color;
    color: #fff;
    text-transform: uppercase;
    &:hover {
        color: #ffffff;
        background-color: darken($accent-color, 5%);
        text-decoration: none;
    }
    &:active {
        box-shadow: none;
    }
    &__icon {
        position: relative;
        width: 24px;
        height: 24px;
        fill: #fff;
        top: -2px;
        margin-right: 5px;
    }
    &__text {
        
    }
}

.main-title {
    margin-top: .75em;
    margin-bottom: .25em;
    padding: 25px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5em;
    width: 100%;
    @include media-breakpoint-down(md) {
        font-size: 1.8em
    }
    @include media-breakpoint-down(sm) {
        font-size: 1.5em
    }
    @include media-breakpoint-down(xs) {
        font-size: 1.4em
    }
    &__small {
        display: block;
        margin-top: .5em;
        padding-top: .25em;
        color: #929292;
        font-size: .6em;
        text-transform: none;
        font-weight: 300;
        border-top: 1px solid #dedede;
    }
}

.city-list {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    &__item {
        padding: 3px;
    }
}
.change-city-link {
    display: block;
    padding: 5px 10px;
    color: #666666;
    font-size: .9em;
    &:hover {
        text-decoration: none;
        background-color: rgba(0,0,0,0.05);
        color: #333333;
    }
}