.header {
  &__top {
    background-color: $main-color;
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__top-menu-toggle {
    order: 1;
  }
  &__top-menu {
    order: 2;
    @include media-breakpoint-down(md) {
      order: 4;
      flex-basis: 100%;
    }
  }
  &__top-panel {
    order: 3;
    @include media-breakpoint-down(md) {
      order: 2;
    }
  }
  &__search-form {
    order: 4;
    flex-basis: 100%;
    @include media-breakpoint-down(md) {
      order: 3;
    }
  }
  &__middle {
    padding: 35px 0;
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__bottom {
    background-color: #E6E6E6;
    min-height: 40px;
    
    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      // justify-content: space-between;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.top-menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: background 0.1s ease-in-out 0s;
  margin-left: 15px;
  &.collapsed {
    display: none;
    @include media-breakpoint-down(md) {
      display: flex;
    }
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    .top-menu-toggle__icon {
      fill: rgba(255, 255, 255, 1);
    }
  }
  &__icon {
    width: 18px;
    height: 18px;
    fill: rgba(255, 255, 255, 0.75);
    &_open {
      display: block;
      .collapsed & {
        display: none;
      }
    }
    &_close {
      display: none;
      .collapsed & {
        display: block;
      }
    }
  }
}

.top-menu {
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  padding: 5px 0;
  &.collapsing {
    height: 0;
    @include media-breakpoint-down(md) {
      display: flex;
    }
  }
  @include media-breakpoint-down(md) {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  } // &.collapse {
  //   display: flex;
  // }
  &__item {
    .dropdown-menu {
      background-color: $main-color;
    }
    .dropdown-item {
      color: #ffffff;
      font-size: 12px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
  &__link {
    display: block;
    color: #ffffff;
    font-weight: 300;
    font-size: 12px;
    padding: 5px 15px;
    @include media-breakpoint-down(md) {
      text-align: left;
    }
    &:hover {
      text-decoration: none;
      color: #ffffff;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.top-panel {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  padding: 5px 0;
  &__item {
    display: flex;
    align-items: center;
    & + & {
      @include media-breakpoint-down(sm) {
        margin-left: 10px;
      }
    }
  }
  &__link {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eeeeee;
    padding: 5px 15px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: #ffffff;
      text-decoration: none;
    }
    
    @include media-breakpoint-down(sm) {
      width: 28px;
      height: 28px;
      padding: 0;
      
    }
    &_search {
      padding: 0;
      width: 28px;
      height: 28px;
    }
  }
  &__icon {
    width: 18px;
    height: 18px;
    fill: rgba(255, 255, 255, 0.75);
    &_open {
      display: block;
      .collapsed & {
        display: none;
      }
    }
    &_close {
      display: none;
      .collapsed & {
        display: block;
      }
    }
  }
  &__text {
    margin-left: 5px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

#search {
  padding: 20px 0 20px 15px;
}

$margin-top-for-label: -18px;
.search-form {
  width: 100%;
  position: relative;
  &__input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: border .1s ease-in-out;
    color: #ffffff;
    padding-bottom: 2px;
    &:hover {

    }
    &:focus {
      outline: none;
      border-bottom-color: transparent;
      ~.search-form__label {
          font-size: .8em;
          color: #fff;
          top: $margin-top-for-label;
      }
      ~.search-form__border-bottom {
          width: 100%;
          background-color: rgba(255, 255, 255, 0.75);
      }
  }
  }
  &__label {
    color: rgba(255, 255, 255, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
    font-weight: 300;
    transition: top 0.2s ease-in-out, font 0.2s ease-in-out;
  }
  &__icon {
    width: 24px;
    height: 24px;
    fill: rgba(255, 255, 255, 0.5);
  }
  &__border-bottom {
    margin: -2px auto 0 auto;
    height: 2px;
    width: 0;
    background-color: rgba(255, 255, 255, 0.1);
    content: "";
    z-index: 10;
    transition: width ease-in-out .2s, height ease-in-out .5s;
  }
  &__submit {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      .search-form__icon {
        fill: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

.logo {
  display: flex;
  flex-direction: column;
  flex-flow: 1;
  flex-grow: 1;
  &__link {
    
  }
  &__image {
    width: 159px;
    height: 46px;
  }
  &__text {
    margin-top: 10px;
    color: #666666;
    font-weight: 300;
  }
}

.main-menu-toggle {
  display: none;
}

.main-menu {
  display: flex;
  // flex: 0 0 100%;
  flex-flow: 1;
  flex-grow: 1;
  justify-content: space-between;
  align-items: stretch;
  &__item {
    @extend .box-block;
    font-size: 15px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    font-weight: 700;
    color: #666666;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: #333333;
      text-decoration: none;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    &:active {
      box-shadow: none;
    }
    @include media-breakpoint-down(lg) {
      max-width: 150px;
      font-size: 14px;
    }
    @include media-breakpoint-down(md) {
      max-width: 170px;
      font-size: 12px;
    }
  }
}