<section class="vendors" itemscope itemtype="http://schema.org/ListItem">
  <h2 class="vendors__title">Производители</h2>
  <link href="http://moscow.back-way.ru/recovery/vendors/" itemprop="url" />
  <meta itemprop="name" content="Производители оборудования, с которых мы восстанавливаем данные в Москве" />
  <p class="vendors__description">Производители оборудования, с которых мы успешно восстанавливали данные.</p>
  <div class="vendors__carousel owl-carousel owl-theme">
    <div class="vendors__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
      <a class="vendors__link" href="/" itemprop="url">
        <img alt="image" class="vendors__logo" src="/assets/images/ocz.svg" />
      </a>
      <meta itemprop="name" content="Восстановление данных с устройств OCZ в Москве" />
    </div>
    <div class="vendors__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
      <a class="vendors__link" href="/" itemprop="url">
        <img alt="image" class="vendors__logo" src="/assets/images/samsung.svg" />
      </a>
      <meta itemprop="name" content="Восстановление данных с устройств Samsung в Москве" />
    </div>
    <div class="vendors__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
      <a class="vendors__link" href="/" itemprop="url">
        <img alt="image" class="vendors__logo" src="/assets/images/seagate.svg" />
      </a>
      <meta itemprop="name" content="Восстановление данных с устройств Seagate в Москве" />
    </div>
    <div class="vendors__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
      <a class="vendors__link" href="/" itemprop="url">
        <img alt="image" class="vendors__logo" src="/assets/images/toshiba.svg" />
      </a>
      <meta itemprop="name" content="Восстановление данных с устройств Toshiba в Москве" />
    </div>
    <div class="vendors__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
      <a class="vendors__link" href="/" itemprop="url">
        <img alt="image" class="vendors__logo" src="/assets/images/transcent.svg" />
      </a>
      <meta itemprop="name" content="Восстановление данных с устройств Transcend в Москве" />
    </div>
    <div class="vendors__item" itemprop="item" itemscope itemtype="http://schema.org/Service">
      <a class="vendors__link" href="/" itemprop="url">
        <img alt="image" class="vendors__logo" src="/assets/images/wd.svg" />
      </a>
      <meta itemprop="name" content="Восстановление данных с устройств Western Digital в Москве" />
    </div>
  </div>
</section>