<section class="call-to-action">
  <h2 class="call-to-action__title">Есть вопрос?</h2>
  <div class="call-to-action__text">Хотите попробовать восстановить данные самостоятельно или хотите что-то уточнить?</div>
  <a href="#" class="call-to-action__button">Получить бесплатную консультацию</a>
</section>