<div class="footer-block">
  <h3 class="footer-block__title">Консультации</h3>
  <p class="footer-block__subtitle">Мы проводим консультации по восстановлению данных и ремонту устройств хранения абсолютно бесплатно</p>
  <a href="/consultations/" class="footer-block__action-button">Получить консультацию</a>
</div>