<div class="footer-block">
  <h3 class="footer-block__title">Восстановление данных</h3>
  <nav class="footer-menu">
      <a href="/recovery/devices/" class="footer-menu__item">Со всех устройств</a>
      <a href="/recovery/systems/" class="footer-menu__item">Все файловые системы</a>
      <a href="/recovery/data-types/" class="footer-menu__item">Все виды данных</a>
      <a href="/recovery/causes/" class="footer-menu__item">После любого происшествие</a>
      <a href="/recovery/vendors/" class="footer-menu__item">Любых производителей</a>
  </nav>
</div>