<a href="/order/" class="action-button">
    <%- partial('../svg-sprite-element', {icon: "person-o", cssSelector: "action-button__icon"}) %>
    <span class="action-button__text">Вызвать мастера</span>
</a>