<a href="/order/" class="header__action-button action-button">
    <%- partial('../svg-sprite-element', {icon: "car", cssSelector: "action-button__icon"}) %>
    <span class="action-button__text">Вызвать мастера</span>
</a>