<nav class="main-menu">
  <a href="/recovery/" class="main-menu__link">Восстановление данных</a>
  <a href="/consultations/" class="main-menu__link">Бесплатные консультации</a>
  <a href="/price/" class="main-menu__link">Цены</a>
</nav>