<% if (button) { %>
  <button class="header__navbar-toggler navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#top-menu-content" aria-controls="top-menu-content" aria-expanded="false" aria-label="Toggle navigation">
    <%- partial('../svg-sprite-element', {icon: "menu", cssSelector: "navbar__icon navbar__icon_close"}) %>
    <%- partial('../svg-sprite-element', {icon: "close", cssSelector: "navbar__icon navbar__icon_open"}) %>
  </button>
<% } %>

<% if (menu) { %>
<div class="header__top-menu collapse navbar-collapse" id="top-menu-content">
  <ul class="navbar-nav top-menu">
    <li class="top-menu__item">
      <a href="/company/" class="top-menu__link">О компании</a>
    </li>
    <li class="top-menu__item dropdown">
      <a href="#" class="top-menu__link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Клиентам</a>
      <nav class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a href="/clients/cost-and-payment-methods.html" class="dropdown-item">Стоимость и способы оплаты</a>
        <a href="/clients/guarantee-and-confidentiality.html" class="dropdown-item">Гарантия и конфиденциальность</a>
        <a href="/clients/how-to-pick-up-the-data.html" class="dropdown-item">Как забрать данные?</a>
      </nav>
    </li>

    <li class="top-menu__item dropdown top-menu__item_hidden-lg-up">
      <a href="/recovery/" class="top-menu__link dropdown-toggle" id="navbarRecovery" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Восстановление данных</a>
      <nav class="dropdown-menu" aria-labelledby="navbarRecovery">
        <a href="/recovery/devices/" class="dropdown-item">Устройства</a>
        <a href="/recovery/systems/" class="dropdown-item">Операционные системы</a>
        <a href="/recovery/data-types/" class="dropdown-item">Типы данных</a>
        <a href="/recovery/causes/" class="dropdown-item">Причины</a>
        <a href="/recovery/vendors/" class="dropdown-item">Производители</a>
      </nav>
    </li>
    <li class="top-menu__item top-menu__item_hidden-lg-up">
      <a href="/consultations/" class="top-menu__link">Бесплатные консультации</a>
    </li>
    <li class="top-menu__item top-menu__item_hidden-lg-up">
      <a href="/price/" class="top-menu__link">Цены</a>
    </li>

    <li class="top-menu__item">
      <a href="/company/contacts/" class="top-menu__link">Контакты</a>
    </li>
  </ul>
</div>
<% } %>