<div class="logo">
<% if (is_home()) { %>
  <img src="/assets/images/logo_backway.svg" alt="Back way - восстановление данных" class="logo__image" />
<% } else { %>
  <a href="/" class="logo__link">
    <img src="/assets/images/logo_backway.svg" alt="Back way - восстановление данных" class="logo__image" />
  </a>
<% } %>
</div>