<nav class="second-menu">
  <a href="/recovery/devices/" class="second-menu__item">Устройства</a>
  <a href="/recovery/systems/" class="second-menu__item">Операционные системы</a>
  <a href="/recovery/data-types/" class="second-menu__item">Типы данных</a>
  <a href="/recovery/causes/" class="second-menu__item">Причины</a>
  <a href="/recovery/vendors/" class="second-menu__item">Производители</a>
</nav>