<%- partial('common/main-title', {area: false, container: true}) %>
<div class="container">
    <ul>
        <li><a href="https://scplex.ru/clients/diagnostic/">Условия выезда и диагностики</a></li>
        <li><a href="https://scplex.ru/clients/payment/">Ценообразование и способы оплаты</a></li>
    </ul>
    <br>
</div>
