<%- partial('common/main-title', {area: true, container: true}) %>

<div class="container">
<%- partial('common/call-to-action/phone') %>
</div>
<%- partial('partials/service/scheme') %>
<div class="container">
    <%- partial('common/call-to-action/order') %>
</div>