<!DOCTYPE html>
<html lang="ru">
  <%- partial('common/head') %>
  <body>
    <%- partial('common/header') %>

    <main class="main">
      <div class="container">
        <%- body %>
      </div>
    </main>
    <%! partial('common/footer') %>
    <script src="/assets/js/commons.js"></script>
  </body>
</html>