<!DOCTYPE html>
<html lang="ru">
  <%- partial('common/head') %>
  <body>
    <%- partial('common/header') %>
    <main class="main">
      <%- partial('common/main-title', {area: true}) %>
      <%- body %>
    </main>
    <%! partial('common/footer') %>
    <script src="/assets/js/commons.js"></script>
  </body>
</html>