<div class="call-to-action">
    <div class="call-to-action__icon-block call-to-action__icon-block_bg_accent">
        <%- partial('../svg-sprite-element', {icon: "car", cssSelector: "call-to-action__icon"}) %>
    </div>
    <div class="call-to-action__content">
        <h2 class="call-to-action__title">Закажите выезд мастера</h2>
        <span class="call-to-action__text">Мы Вам перезвоним в течение 15 минут.<br/>
            Мастер приедет в течение часа после подтверждения заказа</span>
            <a href="/order/" class="call-to-action__button">Вызвать мастера</a>
    </div>
</div>