<section class="call-to-action">
  <h2 class="call-to-action__title">Сделайте заказ</h2>
  <div class="call-to-action__text">Вы получите свои данные в сжатые сроки, конфиденциально</div>
  <a href="#" class="call-to-action__button">Заказать восстановление</a>
</section>