<section class="call-to-action">
  <h2 class="call-to-action__title">Звоните</h2>
  <div class="call-to-action__text">Звонок бесплатный</div>
  <div class="call-to-action__phone"><%- formatPhone(site.data.company.phone) %></div>
</section>