<div class="footer-block">
  <h3 class="footer-block__title">Клиентам</h3>
  <nav class="footer-menu">
    <a href="<%= config.main_url %>/clients/diagnostic/" class="footer-menu__item">Условия выезда и дигностики</a>
    <a href="<%= config.main_url %>/clients/payment/" class="footer-menu__item">Способы оплаты</a>
    <a href="<%= config.main_url %>/clients/guarantee/" class="footer-menu__item">Гарантия</a>
    <a href="/services/order/" class="footer-menu__item footer-menu__item_accent">Вызвать мастера на дом</a>
  </nav>
</div>