<div class="footer-block">
  <h3 class="footer-block__title">Клиентам</h3>
  <nav class="footer-menu">
    <a href="/clients/payment/" class="footer-menu__item">Условия выезда и дигностики</a>
    <a href="/clients/payment/" class="footer-menu__item">Способы оплаты</a>
    <a href="/clients/guarantee/" class="footer-menu__item">Гарантия</a>
    <a href="/order/" class="footer-menu__item footer-menu__item_accent">Вызвать мастера на дом</a>
  </nav>
</div>