<div class="footer-block">
  <h3 class="footer-block__title">Клиентам</h3>
  <nav class="footer-menu">
    <a href="/clients/cost-and-payment-methods.html" class="footer-menu__item">Стоимость и способы оплаты</a>
    <a href="/clients/guarantee-and-confidentiality.html" class="footer-menu__item">Гарантия и конфиденциальность</a>
    <a href="/clients/how-to-pick-up-the-data.html" class="footer-menu__item">Как забрать данные?</a>
    <a href="/order/" class="footer-menu__item footer-menu__item_accent">Заказать восстановление</a>
  </nav>
</div>