<nav class="legal-menu">
  <a href="/terms-of-use.html" class="legal-menu__item">Соглашение о пользовании сайтом</a>
  <a href="/privacy-policy.html" class="legal-menu__item">Политика конфиденциальности</a>
</nav>