<nav class="legal-menu">
  <a href="<%= config.main_url %>/terms-of-use.html" class="legal-menu__item">Соглашение о пользовании сайтом</a>
  <a href="<%= config.main_url %>/privacy-policy.html" class="legal-menu__item">Политика конфиденциальности</a>
</nav>