<div class="footer-block">
  <h3 class="footer-block__title">Обратите внимание</h3>
  <p class="footer-block__subtitle">Вся информация представленная на сайте носит информационный характер и не является публичной офертой в соответствии со ст. 437 ГК РФ.</p>
</div>