<div class="footer-block">
  <h3 class="footer-block__title">Услуги</h3>
  <nav class="footer-menu">
      <a href="/recovery/devices/" class="footer-menu__item">Ремонт ноутбуков</a>
      <a href="/recovery/systems/" class="footer-menu__item">Ремонт комьпьютеров</a>
      <a href="/recovery/data-types/" class="footer-menu__item">Компьютерная помощь</a>
      <a href="/recovery/causes/" class="footer-menu__item">Восстановление данных</a>
      <a href="/recovery/vendors/" class="footer-menu__item">Настройка сетей и интернета</a>
  </nav>
</div>