<div class="footer-block">
  <h3 class="footer-block__title">Услуги</h3>
  <nav class="footer-menu">
      <a href="/services/repair/notebook/" class="footer-menu__item">Ремонт ноутбуков</a>
      <a href="/services/repair/computer/" class="footer-menu__item">Ремонт компьютеров</a>
      <a href="/services/help/" class="footer-menu__item">Компьютерная помощь</a>
      <a href="/services/recovery/" class="footer-menu__item">Восстановление данных</a>
      <a href="/services/net/" class="footer-menu__item">Настройка сетей и интернета</a>
  </nav>
</div>